html,
body{
  scroll-behavior: smooth;
  background-color: #F6F1E3;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}
h1 {
	font-size: 50px;
	padding: 0px;
}
p {
	font-size: 15px;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set container height to full viewport height */
}
#home {
	display: flex;
  align-items: center;
	/* Set container height to full viewport height */
  height: 100vh; 
}
.navTitle {
  color: #000;
}
.navTitle:hover {
  color: #000;
  opacity: 0.5;
}
.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}
.navLink:hover::after {
  transform: scaleX(1);
}

#home-title {
	font-size: 60px;
  font-size: 4vw;

}

.home-navbar{
  font-size: 3vw;
  right: 0px;
  transition: all 0.2s ease-in;
  /* transition: font-size 0.2s ease-in */
}
.home-navbar:hover {
  color: #000;
  opacity: 0.5;
  right: -10px;
  /* font-size: 55px; */
  /* font-style: italic; */
}
#pdf {
  display: flex;
  align-items: center;
  
}
/* changing resume button color */
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .open>.dropdown-toggle.btn-outline-dark {
  color: #ffffff !important;
  background-color: #545c5e !important;
  border-color: #000000 !important; /*set the color you want here*/
}
#Projects {
  padding-top: 5%;
}
.projects-list {
  font-size: 30px;
  right: 0px;
  transition: all 0.2s ease-in;
}
.projects-list:hover {
  opacity: 0.5;
  right: -10px;
  
}
.message {
  /*temporary while its still being updated  */
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.side-navbar {
  /* top: 50px */
}


@media (max-width: 768px) {
  .side-navbar.sticky-top {
    position: static !important; /* Disable sticky on mobile */
    top: auto !important; /* Reset top offset */
  }
}
/* for looking at borders */
/* .col-1 {
	border-style: dotted;	
}
.col-3 {
	border-style: dotted;	
}
.col-5 {
	border-style: dotted;	
}
.col-6 {
	border-style: dotted;	
}
.col-9 {
	border-style: dotted;	
}
.container {
  border-style: dotted;
} */