<!DOCTYPE html>
<html>
          <head>
                    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="all" />
                    <style>

                    </style>
          </head>

          <body>
                    <!-- Navigation Bar -->
                    
                    <!-- Debug Flash Messages -->
                    <hr />
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                      {% for message in messages %}
                      <li>{{ message }} </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    <!-- substitution for HTML poges -->
                    {% block content %}{% endblock %}          
          </body>
</html>